<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://getbootstrap.com/docs/5.1/examples/carousel/carousel.css">

<head th:replace="/fragments/head :: head"></head>

<body>
  <nav th:replace="/fragments/navbar :: nav"></nav>





  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div th:each="libro,iter : ${lista}" class="col-lg-4" th:if="${iter.index} le '2'">
        <img class="rounded-circle" th:src="${'/foto/libro/' + libro.id}" style="max-height: 100px" width="140"
          height="140" />
        <h2 th:text="${libro.titulo}"></h2>
        <p th:text="${libro.descripcion}">

        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">Reservar »</a>
        </p>
      </div>

    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->
    <div th:each="libro : ${lista}">
      <hr class="featurette-divider" />
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" th:text="${libro.titulo}">

          </h2>
          <p class="lead" th:text="${libro.descripcion}">

          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
            style="width: 500px; height: 500px" th:src="${'/foto/libro/' + libro.id}" data-holder-rendered="true" />
        </div>
      </div>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
</body>

</html>

</html>