<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/head :: head"></head>
    <nav th:replace="/fragments/navbar :: nav"></nav>
  <body>

    <!--
       div de exito
        -->
    <div th:if="${exito}!=null" class="p-3 mb-3 bg-success text-white">
      <p th:text="${exito}"></p>
    </div>
    <div th:if="${error}!=null" class="p-3 mb-3 bg-danger text-white">
      <p th:text="${error}"></p>
    </div>
    <!-- comment -->
    <h2 background-color="black">Listado De autores</h2>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">nombre</th>
          
        </tr>
      </thead>
      <tbody th:each="autor : ${lista}">
        <tr>
          <th th:text="${autor.id}"></th>
          <td th:text="${autor.nombre}"></td>

          <td>
            <form th:action="@{/modificar/autor}" method="get">
              <input type="hidden" name="id" th:value="${autor.id}" />
              <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
            <form th:action="@{/borrar/autor}" method="post">
              <input type="hidden" name="id" th:value="${autor.id}" />
              <button type="submit" class="btn btn-danger">borrar</button>
            </form>
          </td>
          <td>
            
            <a th:if="${autor.alta}" th:href="@{/alta/autorbaja{id}} " 
              ><i th:value="${autor.id}" class="bi bi-x-circle-fill"></i
            ></a>
            <a th:unless="${autor.alta}" th:href="@{/alta/autoralta{id}}" th:value="${autor.id}"
              ><i class="bi bi-check-circle"></i
            ></a> 
          </td>
        </tr>
      </tbody>
      <th>
          <a href="/crud/autor/">
        <button type="button" class="btn btn-primary">Crear autor nuevo</button></a>
      </th>
    </table>

  </body>
  <!-- JavaScript Bundle with Popper -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
</html>
