<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: head"></head>
   
  <body class="p-3 mb-2 bg-secondary text-white">
 <nav th:replace="/fragments/navbar :: nav"></nav>
    <!--
       div de exito
        -->
    <div th:if="${exito}!=null" class="p-3 mb-3 bg-success text-white">
      <p th:text="${exito}"></p>
    </div>
    <div th:if="${error}!=null" class="p-3 mb-3 bg-danger text-white">
      <p th:text="${error}"></p>
    </div>
    <!-- comment -->
    <h2 class="p-3 mb-2 bg-dark text-white">Listado De editorial</h2>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
        </tr>
      </thead>
      <tbody th:each="editorial : ${lista}">
        <tr>
          <th th:text="${editorial.id}"></th>
          <td th:text="${editorial.nombre}"></td>
          
          

          <td>
            <form th:action="@{/modificar/editorial}" method="get">
              <input type="hidden" name="id" th:value="${editorial.id}" />
              <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
            <div>
            <form th:action="@{/borrar/editorial}" method="post">
              <input type="hidden" name="id" th:value="${editorial.id}" />
              <button type="submit" class="btn btn-danger">borrar</button>
            </form>
            </div>
          </td>
          <td>
            <a th:if="${editorial.alta}" th:href="@{/baja/editorial}"
              ><i class="bi bi-x-circle-fill"></i
            ></a>
            <a th:unless="${editorial.alta}" th:href="@{/baja/editorial}"
              ><i class="bi bi-check-circle"></i
            ></a>
          </td>
        </tr>
      </tbody>
      <th>
         <a href="/crud/editorial/">
        
            <button type="button" class="btn btn-primary">Crear una editorial nueva</button></a> 
      </th>
    </table>
  </body>
  <!-- JavaScript Bundle with Popper -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
</html>
